.jumbotron {
  margin-bottom: 0px;
}

.custom-border {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.navbar-brand-inactive {
    color: rgba(255,255,255,.5) !important;
}

@media (min-width: 768px) {
  .navbar-brand-inactive {
    margin-left: 16px;
  }
}

.navbar-brand-inactive:hover {
  color: rgba(255,255,255,.75) !important;
}

.nav-link {
  margin-left: 8px;
}

.text-shadow {
  text-shadow: 0 .5rem 1rem rgba(0,0,0,.3)
}

video {
	width: 100%;
	height: auto;    
    border-radius: .25rem;
}

.video-container {
	border-width: 0;
	border-radius: .25rem; 
	overflow: hidden;
}
.card-body ul {
	padding-inline-start: inherit;
}